* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Poppins", system-ui, sans-serif;
  font-weight: 300;
  font-style: normal;
}

:root {
  --primary-color: #e95853;
  --sub-text-color: #000000a4;
  --background-color: #ffffff;

  --page-padding: 40px;
}

@keyframes stretchOut {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 5px 15px;
  font: inherit;
  font-size: 0.9rem;
}

body {
  height: 100vh;
  background-color: var(--background-color);
}

header {
  padding: 15px var(--page-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  box-shadow: 0 3px 5px 0 #00000023;
}

header .logo {
  cursor: pointer;
}
header .logo span {
  color: var(--primary-color);
}

header nav {
  display: flex;
  gap: 30px;
}
header nav li {
  position: relative;
  cursor: pointer;
  color: var(--sub-text-color);
  transition: all ease 0.2s;
  font-weight: 600;
}
header nav li::after {
  display: none;
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  animation: stretchOut ease-in 0.2s;
}
header nav li.active {
  color: #000;
}
header nav li.active::after {
  display: block;
}

header .auth button {
  font-weight: 600;
  color: var(--primary-color);
}
header .auth button:nth-child(1):hover {
  text-decoration: underline;
}
header .auth button:nth-child(2) {
  border-radius: 50px;
  border: 1px solid var(--primary-color);
  transition: all ease 0.3s;
}
header .auth button:nth-child(2):hover {
  color: white;
  background-color: var(--primary-color);
}

#content {
  padding: 20px var(--page-padding);
}
